  <h2>
    <strong>
      Vaccine Information
    </strong>
  </h2>
  <p>
    On April 1, Allegheny County launched a new
    <a href="http://vax4.alleghenycounty.us" title="Vaccine Registration site">
      Vaccine Registration site
    </a>
    . Visitors to the site can schedule first or second doses and reschedule or cancel their appointment. If the individual is not currently eligible for vaccination, or an appointment is not available, the user will be invited to pre-register. Pre-registration means that the person be notified via email or text when they are eligible for vaccination and appointments are available.
  </p>
  <p>
    Shipments of the COVID-19 vaccines are arriving in Allegheny County. This is an exciting time. The vaccine is an opportunity to go on the offense against COVID-19. The Health Department urges everyone to get the vaccine, but also to patiently wait their
    turn so that those most at risk and in need can get it.
  </p>
  <p>
    This page contains information about the vaccines and their distribution. It will be updated regularly to stay current.
  </p>
  <p>
    <img src="/uploadedImages/Allegheny_Home/Health_Department/Resources/COVID-19/vaccine_590w.jpg" style="height: 393px; width: 590px;">
  </p>
  <h2>
    <strong>
      Vaccine Distribution by the Allegheny County Health Department
    </strong>
  </h2>
  <p>
    The Allegheny County Health Department is not in charge of vaccine distribution in Allegheny County. It is equivalent to each of the other 100+ vaccine providers in the county. We are working to address and fill gaps, but can only do so where vaccine
    is available.
  </p>
  <p>
    On March 31, 2021, the PA Department of Health announced an updated
    <a href="https://www.health.pa.gov/topics/disease/coronavirus/Vaccine/Pages/Vaccine.aspx" title="vaccine rollout timeline">
      vaccine rollout timeline
    </a>
    . Additional phases are added each
    week through April 19 when all residents will be eligible to make appointments for vaccination. Please visit the site for more information on phases and when you may be eligible for vaccination.
    <br>
  </p>
  <p>
    The Health Department is currently offering both the Moderna and Pfizer vaccine. Individuals who receive their first dose of vaccine from the Health Department on or before March 26 will receive an email with information on how to schedule their second
    dose. Individuals vaccinated after March 29 will have their second dose appointment scheduled on site after they have received the first dose.
  </p>
  <p>
    Learn more about the vaccine with the
    <a href="https://www.fda.gov/media/144637/download" title="Moderna EUA">
      Moderna EUA
    </a>
    and
    <a href="https://www.fda.gov/media/144414/download" title="Pfizer-BioNTech EUA">
      Pfizer-BioNTech EUA
    </a>
    Fact Sheets.
  </p>
  <p>
    <br>
  </p>
  <p>
    <strong>
      COVID-19 Vaccine Points of Dispensing (POD)
    </strong>
  </p>
  <p>
    The Allegheny County Health Department has operated several points of dispensing (PODs) throughout the county, and is working to identify and contract with additional COVID-19 vaccine points of dispensing (POD) sites. All PODs are being staffed through a partnership between the Health Department and other community organizations and agencies.
  </p>
  <p>
  </p>
  <p>
    All Health Department sites are by appointment only. Anyone arriving without an appointment, or not meeting priority criteria, will be turned away. There are no walk-up registrations available. For information on available appointments, or to be placed on the departments pre-registration site:
    <a href="http://vax4.alleghenycounty.us" title="vax4.alleghenycounty.us">
      vax4.alleghenycounty.us
    </a>
    . Residents without Internet access, or having difficulty navigating the online registration system, may contact 2-1-1 from 9 AM to Noon daily for assistance in scheduling or to pre-register.
  </p>
  <p>
    The list of currently operating PODs follows:
  </p>
  <p>
    Castle Shannon Point of Dispensing (POD)
    <br>
    Castle Shannon Fire Department Banquet Hall
    <br>
    3600 Library Road, Pittsburgh PA 15236
  </p>
  <p>
    Middle Hill District Point of Dispensing (POD)
    <br>
    Central Baptist Church
    <br>
    2200 Wylie Avenue, Pittsburgh PA 15219
  </p>
  <p>
    Ross Township Point of Dispensing (POD)
    <br>
    Ross Township Community Center Gymnasium
    <br>
    1000 Ross Municipal Drive, Pittsburgh PA 15237
  </p>
  <p>
    Upper Hill/Oakland Point of Dispensing (POD)
    <br>
    Petersen Events Center
    <br>
    3719 Terrace Street, Pittsburgh PA 15261
  </p>
  <p>
    <br>
  </p>
  <p>
    <strong>
    </strong>
    <br>
  </p>
  <p>
  </p>
  <p>
    <strong>
      How to Help
    </strong>
  </p>
  <p>
    <strong>
      I want to provide COVID-19 vaccines.
    </strong>
    <br>
    This
    <a href="https://www.health.pa.gov/topics/programs/immunizations/Pages/COVID-19-Vaccine-Providers.aspx" title="Pennsylvania Department of Health’s COVID-19 Vaccine Providers page">
      Pennsylvania Department of Health’s COVID-19 Vaccine Providers page
    </a>
    has information on how to enroll as a vaccine provider.
    <br>
  </p>
  <p>
    <strong>
      I want to volunteer at a community COVID-19 vaccination clinic.
    </strong>
    <br>
    If you would like to be considered for volunteer opportunities related to vaccine administration, please
    <a href="/WorkArea/linkit.aspx?LinkIdentifier=id&amp;ItemID=6442459966" title="Medical Reserve Corps">
      register for the Medical Reserve Corps
    </a>
    (MRC). The MRC accepts licensed and credentialed professionals from a wide variety of backgrounds including practicing or retired medical and non-medical professionals and support
    staff.
  </p>
  <p>
  </p>
  <h3>
    <strong>
      General Vaccine Distribution Information
    </strong>
    <br>
  </h3>
  <p>
    The Health Department will follow the CDC and Pennsylvania Department of Health phases for vaccine distribution. A full description of each phase and a list of those included in each phase can be found in the Pennsylvania Department of Health’s COVID-19
    Interim Vaccination Plan which can be found on the state&#39;s
    <a href="https://www.health.pa.gov/topics/disease/coronavirus/Pages/Vaccine.aspx" title="COVID-19 Vaccine Information page">
      COVID-19 Vaccine Information page
    </a>
    .
  </p>
  <p>
    For individuals and organizations seeking additional information on COVID Vaccinations when they are available, we have added a subscription to Allegheny Alerts entitled &#34;COVID-19 Vaccination Information.&#34; Allegheny Alerts is a community notification
    system. Anyone can sign up for a free subscription and can choose what information they receive, and how they receive it – and that includes phone calls to residents who may not have a computer or smart phone. Visit
    <a href="http://alleghenycounty.us/alerts" title="alleghenycounty.us/alerts">
      alleghenycounty.us/alerts
    </a>
    to sign up.
  </p>
  <p>
    <br>
  </p>
  <h3>
    <strong>
      Vaccine Resources
    </strong>
  </h3>
  <ul>
    <li>
      <a href="https://www.health.pa.gov/topics/disease/coronavirus/Pages/Vaccine.aspx" title="Pennsylvania Department of Health Vaccine Information">
        Pennsylvania Department of Health Vaccine Information
      </a>
    </li>
    <li>
      <a href="https://www.health.pa.gov/topics/Documents/Programs/Immunizations/Vaccine%20Plan%20V.3%20FINAL.pdf" title="Pennsylvania Department of Health Interim Vaccine Plan">
        Pennsylvania Department of Health Interim Vaccine Plan
      </a>
    </li>
    <li>
      <a href="https://www.cdc.gov/vaccines/covid-19/index.html" title="CDC Vaccine Information">
        CDC Vaccine Information
      </a>
    </li>
    <li>
      <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/faq.html" title="CDC Vaccine FAQ">
        CDC Vaccine FAQ
      </a>
    </li>
  </ul>
  <p>
  </p>
  <h3>
    Frequently Asked Questions
  </h3>
  <p>
    <strong>
      Last updated: March 30 2021
    </strong>
  </p>
  <p>
    <br>
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Can I schedule over the phone?
  </h3>
  <p>
    The Allegheny County Health Department has partnered with PA 2-1-1 Southwest, powered by the United Way, to schedule county residents for vaccination appointments by phone. Residents eligible for a COVID vaccine may dial 2-1-1 or 1-888-553-5778
                    to schedule an appointment.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When can people under 65 with specific health conditions be vaccinated at ACHD sites?
  </h3>
  <p>
    The Health Department is currently scheduling vaccine appointments both for county residents aged 65 or older and for residents aged 50 to 64 with health conditions designated in Phase 1A of the state’s vaccine prioritization systems.
                    To be notified when new clinic dates are available, please sign up for the “COVID-19 Vaccine Information” subscription in
    <a href="/alerts">
      Allegheny Alerts
    </a>
    .
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When will new clinic dates be available?
  </h3>
  <p>
    The Health Department opens new clinic dates based on the allocation of vaccine it receives from the state. At any time, these dates and times will be extremely limited due to the high demand and limited supply. To be notified when new
                    clinic dates are available, please sign up for the “COVID-19 Vaccine Information” subscription in
    <a href="/alerts">
      Allegheny Alerts
    </a>
    .
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When will I receive an appointment for my second dose?
  </h3>
  <p>
    The vaccine provider that administered your first dose should notify you of your second dose appointment. When you will be notified will vary based on the vaccine provider.
  </p>
  <p>
    If you received your first dose through the Allegheny County Health Department, information on second dose appointments is being sent via email as the first eligible date for the second dose gets near. This is being done to ensure that
                    vaccine is in hand, and that there is no need to reschedule appointments. We understand that this may be frustrating, but please be assured that all second shots will be administered in the 28-42 day window.
  </p>
  <p>
    Please note that the Health Department is only able to accommodate second doses to those individuals to whom it provided first doses. It cannot provide second doses to individuals who received their first dose through a different vaccine
                    provider.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    What is Allegheny Alerts and how do I sign up?
  </h3>
  <p>
    Allegheny Alerts is a community notification system. Anyone can sign up for a free subscription and can choose what information they receive, and how they receive it – and that includes phone calls to residents who may not have a computer
                    or smart phone. Visit alleghenycounty.us/alerts to sign up.
  </p>
  <p>
    To sign up:
  </p>
  <ul>
    <li>
      Go to
      <a href="/alerts">
        www.alleghenycounty.us/alerts
      </a>
    </li>
    <li>
      Sign in if you already have an account or create a new account
    </li>
    <li>
      In the top right of the “My Subscriptions” box, click “Edit”
    </li>
    <li>
      On the next page, either check the box next to “COVID-19 UPDATES” to receive all COVID-19 updates from Allegheny County or click the triangle to choose only vaccine information.
    </li>
    <li>
      If you already receive COVID-19 updates through Allegheny Alerts, you do not need to add the vaccine subscription.
      <br>
    </li>
  </ul>
  <p>
    <br>
    To unsubscribe, simply log into your account (you can reset your password if you’ve forgotten it) and uncheck the boxes on the subscriptions you no longer wish to receive.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When will my group be vaccinated? When can I be vaccinated? When can my parents be vaccinated?
  </h3>
  <p>
    The Health Department is currently vaccinating healthcare workers eligible for Phase 1A of the vaccination plan, people 65 and over and people aged 50 to 64 with specific health conditions. As more vaccine becomes available, the Health
                    Department will be able to expand vaccinations to a wider audience.
  </p>
  <p>
    You can sign up for the latest on the county&#39;s vaccination effort by subscribing to &#34;COVID-19 Vaccination Information&#34; under &#34;COVID-19 Updates&#34; in Allegheny Alerts. It&#39;s free and
    <a href="https://member.everbridge.net/453003085611110/login" title="available here">
      available here
    </a>
    .
  </p>
  <p>
    The Health Department will use Allegheny Alerts to notify individuals of new vaccine appointment availability. Please note that these appointments are extremely limited and fill up quickly. It is possible that all appointments will be
                    booked when you access the links.
  </p>
  <p>
    There are many other vaccination providers in Allegheny County. The Pennsylvania Department of Health has developed an online guide for people to use to determine if they are eligible to receive the vaccine under the expanded Phase 1A
                    criteria and a map to people find a vaccine provider near them. The Allegheny County Health Department is not involved with these tools, or the information provided.
  </p>
  <p>
    Please note, the supply of vaccines is limited in Allegheny County while demand is extremely high. It may be difficult to find a vaccine provider using the state’s guide and map at this time. If you have questions about the vaccination
                    process in Pennsylvania, please call the Pennsylvania Department of Health hotline at 1-877-724-3258.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Is there a waiting list or on-call list I can sign up for?
  </h3>
  <p>
    Allegheny County is using Allegheny Alerts to notify residents when vaccines are available through the county Health Department. You can sign up for the service at
    <a href="https://www.alleghenycounty.us/alerts" title="www.alleghenycounty.us/alerts">
      www.alleghenycounty.us/alerts
    </a>
    .
  </p>
  <p>
    There are many vaccine providers in Allegheny County. Vaccine providers are using their own registration systems. These systems could use a waiting list or on-call list. The Health Department is not involved in the distribution systems
                    of other vaccine providers. The Pennsylvania Department of Health has also made available a map showing vaccine providers.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When will the 1B phase begin? What about the other phases?
  </h3>
  <p>
    The movement from one phase to another is being directed by the PA Department of Health.
  </p>
  <p>
    The start of Phase 1B will be delayed now that Phase 1A was expanded to include all individuals over 65 and individuals 16 to 64 with specific health conditions. There is no timeline for the start of Phase 1B.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I think I should be in 1A. Is there a way to request to be included in 1A?
  </h3>
  <p>
    Inclusion in Phase 1A is determined by the federal Department of Health and Human Services and the PA Department of Health. There is not a way to request inclusion in this group at the local level.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I am the lone caretaker for an elderly family member? Can I be included in 1A?
  </h3>
  <p>
    The 1A criteria are set by U.S. Health and Human Services and PA Department of Health and do not include family members who care for elderly family members.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When will teachers be able to be vaccinated?
  </h3>
  <p>
    By order of the President of the United States, teachers in pre-primary, primary, and secondary schools were elevated in vaccine priority as of March 2, 2021. The Pennsylvania Department of Health and the Allegheny County Health Department
                    are working to accommodate this change in priority status for teachers.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I work closely with the public every day. Why can’t I get vaccinated now?
  </h3>
  <p>
    The Health Department is following the vaccination guidelines endorsed by the HHS and the Pennsylvania Department of Health. These guidelines were established to maximize benefits and minimize harms, promote justice, mitigate health inequities,
                    and promote transparency.
  </p>
  <p>
    Occupations that may put someone at a higher risk of contracting COVID-19 are addressed in phase 1B and 1C of the vaccination plan.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Which vaccine is more effective?
  </h3>
  <p>
    How well a vaccine protects against infectious diseases is based on two measures – vaccine efficacy and vaccine effectiveness. Vaccine efficacy tells us how well the vaccine protects against disease during clinical trials, under carefully
                    planned conditions. Vaccine effectiveness tells us how well the vaccine protects against disease once it is distributed to the public. The effectiveness of a vaccine is usually slightly lower than the efficacy of that vaccine.
  </p>
  <p>
    The two licensed mRNA vaccines that are currently available are highly efficacious. Pfizer-BioNTech showed an efficacy of 95% in clinical trials, while the Moderna vaccine was 94.1% efficacious.
    <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3790399" title="A study in the United Kingdom">
      A study in the United Kingdom
    </a>
    that included nearly 30,000 healthcare workers showed that the Pfizer vaccine was 72% effective against symptomatic and asymptomatic COVID after one dose, and
                    86% effective after a second dose. Additional studies of the effectiveness of these vaccines distributed to the public are underway. More information on the trials and outcomes is available on the county, state and FDA websites.
  </p>
  <p>
    The Janssen / Johnson &amp; Johnson vaccine
    <a href="https://www.jnj.com/johnson-johnson-covid-19-vaccine-authorized-by-u-s-fda-for-emergency-usefirst-single-shot-vaccine-in-fight-against-global-pandemic" title="showed an efficacy of">
      showed an efficacy of
    </a>
    66% to 72% against mild to moderate COVID disease and 85% against severe disease.
  </p>
  <p>
    The Allegheny County Health Department does not recommend any vaccine over the other at this time.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Do I have to get the same brand vaccine twice or can I get one of each?
  </h3>
  <p>
    It is strongly recommended that whenever possible, you should get the same brand of vaccine (Pfizer or Moderna) for both your first and second doses.
    <a href="http://https://www.health.pa.gov/topics/Documents/HAN/2021-PAHAN-552-2-17-UPD -COVID Vaccine Second Dose Administration and Timing.pdf" title="The CDC and the Pennsylvania Department of Health (DOH) both recommend">
      The CDC and the Pennsylvania Department of Health (DOH) both recommend
    </a>
    that every effort should be made to receive the same vaccine product at both
                    vaccinations. However, if this is not feasible, DOH permits that for the second dose, any available mRNA vaccine may be given at least 28 days after the first dose.
  </p>
  <p>
    At this time, the health department is administering the Moderna and Pfizer vaccines. If you receive your first vaccine from the health department, you will be contacted to schedule your second dose and will only receive the Moderna vaccine.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Are the vaccines safe?
  </h3>
  <p>
    In the United States, COVID vaccines are currently being approved under emergency use authorizations (EUA) from the FDA before they can be distributed. The EUA is supported by a Secretary of Health and Human Services (HHS) declaration
                    that circumstances exist to justify the emergency use of drugs and biological products during the COVID-19 pandemic.
  </p>
  <p>
    To gain EUA approval, the vaccine manufacturers must present data from clinical trials showing that the vaccine is effective and safe based on all data collected to date.
  </p>
  <p>
    The FDA approved the Pfizer-BioNTech vaccine on December 11, 2020, and the Moderna vaccine on December 18, 2020. The data from the clinical trials for these two vaccines support their safety.
  </p>
  <p>
    Like all vaccine, after getting the COVID-19 vaccine, some people may feel tired and some will experience headache and muscle aches. The side effects are more common after the second dose and more likely in younger, rather than older,
                    vaccine recipients. The side effects can occur up to a week after vaccination but are most likely to occur one or two days after vaccination and last for a day or two. These types of side effects are the result of your immune system
                    responding to the vaccine.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Were the vaccines rushed?
  </h3>
  <p>
    The vaccines were developed quickly, but no corners were cut in the development and testing of them. The COVID-19 vaccines currently available were rapidly developed for several reasons. The Pfizer and Moderna vaccines are based on novel
                    messenger RNA, or mRNA, technology. Although these are the first approved mRNA vaccine, researchers have been working with mRNA vaccines for 10 years. The technology allows rapid synthesis of clinical-grade vaccines. In fact, within
                    a week after the SARS-CoV-2 sequence was made public, mRNA vaccines were being produced. The Janssen / Johnson &amp; Johnson vaccine
    <a href="https://www.cdc.gov/vaccines/covid-19/hcp/viral-vector-vaccine-basics.html" title="is based on viral vector technology">
      is based on viral vector technology
    </a>
    that has been used for several other vaccines for other diseases.
  </p>
  <p>
    The COVID vaccines benefited from huge support from the community in the form of participants who were willing to rapidly enroll into studies that vaccinated 30,000 to 45,000 volunteers per study. Such rapid enrollment is somewhat unprecedented.
  </p>
  <p>
    They were also given unprecedented financial support that allowed them to be developed quickly without cutting corners.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Will the vaccine make you sick?
  </h3>
  <p>
    When you are exposed to a virus, like the viruses that cause the common cold or influenza, your immune system responds. The symptoms you experience, like body aches, congestion, fever, etc., are caused by your immune’s systems response
                    to the virus. Similarly, when you get a vaccine, the goal is to boost your immune system, and when that happens, you get some symptoms of illness.
  </p>
  <p>
    County Executive Rich Fitzgerald and Health Director Dr. Debra Bogen are both participants in the Moderna vaccine trial. After their second injections, both developed mild symptoms and recovered fully and quickly. For both, that meant
                    they very likely received the vaccine and not the placebo and that their immune system was responding to the vaccine.
  </p>
  <p>
    According to the FDA, the most common side effects from the Pfizer vaccine are pain, redness or swelling at the injection site, fatigue, headache, chills, muscle pain and joint pain. These symptoms typically last a day or two.
  </p>
  <p>
    The CDC is tracking severe reactions to the vaccines and reporting them to the public. According to
    <a href="https://www.cdc.gov/mmwr/volumes/70/wr/mm7002e1.htm" title="their report in early January 2021">
      their report in early January 2021
    </a>
    ,
                    the risk of anaphylaxis (severe allergic reaction) from the Pfizer-BioNTech vaccine was estimated to be 11 cases per 1 million doses given. Similarly, data from the Moderna Vaccine is a rate of 2.5 per every million doses given MMWR.
                    Although extremely rare, vaccination providers should be prepared to address such emergencies. There have been
    <a href="https://www.cnbc.com/2021/02/26/jj-says-two-people-had-severe-allergic-reactions-after-getting-covid-vaccine.html" title="two cases of anaphylaxis">
      two cases of anaphylaxis
    </a>
    among patients who received the Janssen / Johnson &amp; Johnson vaccine.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Who Should and Should Not Get the Vaccine?
  </h3>
  <p>
    Right now – the Pfizer vaccine is approved for ages 16 and older and the Moderna vaccine is approved for ages 18 and older. Among those who meet age criteria, almost everyone can get the COVID-19 mRNA vaccines, but a few people should
                    not get the vaccine and some others should first consult with their healthcare provider.
  </p>
  <p>
    Those who should NOT get the vaccine include:
  </p>
  <ul>
    <li>
      People with severe allergies to a vaccine ingredient, another vaccine, or any injectable medications. “Severe” means allergies that are severe enough that they cause anaphylaxis, use of an “epi pen” or require medical treatment.
    </li>
    <li>
      Those under 16 cannot get either of the mRNA vaccines because studies are not yet completed in children younger than 16 years of age. Those 16- to 18-years of age can get the Pfizer, but not the Moderna, vaccine.
    </li>
    <li>
      If someone currently has symptoms of COVID-19 or is
      <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/isolation.html" title="isolating per CDC protocols">
        isolating per CDC protocols
      </a>
      , they should wait until they
                        recover.
    </li>
    <li>
      Likewise, if a person recently had COVID-19 and was treated with monoclonal antibodies or convalescent plasma, they should wait 90 days before getting vaccinated.
    </li>
  </ul>
  <p>
    <br>
    Finally, in most cases if someone is exposed to COVID-19, they should wait until the quarantine period is over. Exceptions to this are people living in group settings (e.g., nursing homes, correctional facilities, or homeless shelters).
  </p>
  <p>
    For those who are pregnant or breastfeeding, a number of organizations, including the CDC, have put out
    <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations/pregnancy.html" title="guidance for people who are pregnant and lactating">
      guidance for people who are pregnant and lactating
    </a>
    .
                    Please refer to resources from those organizations for more detail and speak to your healthcare provider.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Does the vaccine give you COVID-19?
  </h3>
  <p>
    No. The vaccine does NOT give you COVID-19. It protects you from getting covid-19. It can cause you to not feel well for a day or two.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I’ve already had COVID-19. Do I need the vaccine?
  </h3>
  <p>
    People who had COVID-19 have at least three months of protection from reinfection, so if you have recently recovered from COVID-19, you can likely wait to get it. Frontline workers who have not had COVID-19 in the past 3 months may be
                    given priority for the vaccine. However, eventually even those who had COVID-19 should still get the vaccine.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    When will it be available for everyone?
  </h3>
  <p>
    The Health Department estimates that it will take at least a couple of months to vaccinate all those who want to be vaccinated in phase 1A due the significant expansion of those who qualify in 1A. When we begin later phases, including
                    Phase 2 which includes the general population, will depend on the supply of vaccine in the country, state and county – but likely not until summer.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Do I need to wear a mask and avoid close contact with others once I have been fully vaccinated?
  </h3>
  <p>
    The CDC has recommended that people who are fully immunized may visit with one another in small gatherings without masking of distancing, may visit with single households of unvaccinated people who are at low risk for severe COVID disease
                    without masking or distancing, and are not required to quarantine following exposures to someone who is sick with COVID-19. The CDC further recommends that fully immunized people should still wear masks and performs physical distancing
                    while in public, and to get tested for COVID-19 if they have symptoms.
  </p>
  <p>
    This CDC guidance does not apply to residents or inpatients of healthcare settings. This guidance does apply in non-healthcare congregate settings and high-density workplaces.
  </p>
  <p>
    People are considered fully immunized starting two weeks after receiving their second dose of a two-dose COVID vaccine series, or starting two weeks after receiving a single-dose vaccine.
  </p>
  <p>
    Importantly, the PA Department of Health guidance still recommends masking and physical distancing among fully vaccinated people.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    If I’ve been vaccinated, do I still need to quarantine if I am exposed to the coronavirus or identified as a close contact of someone with COVID-19?
  </h3>
  <p>
    Most fully immunized people no longer need to quarantine – but it depends on the circumstances of exposure. CDC and PA Department of Health guidance to quarantine following exposure is still in effect among residents in healthcare settings,
                    long-term care facilities and non-healthcare congregate living facilities who are fully immunized. However, fully immunized people who do not live or work in these settings do not need to quarantine following exposure to COVID.
  </p>
  <p>
    Even if you are fully immunized, you should still isolate and receive COVID testing if you begin to feel symptoms of the disease.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    How many people need to be vaccinated to achieve herd immunity?
  </h3>
  <p>
    Herd immunity means enough people have protection, whether from a previous infection or vaccination, that a virus or bacteria will likely not spread and cause disease. This means that everyone, even people who haven’t been sick or can’t
                    get the vaccine, is protected. The percentage of people who need to have protection for herd immunity varies by disease. Experts do not know what percentage of people would need to get vaccinated to achieve herd immunity to COVID-19.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    How concerned should I be about allergic reactions to the vaccine?
  </h3>
  <p>
    The CDC is tracking severe reactions to the vaccines and reporting them to the public. According to their report in early January 2021, the risk of anaphylaxis (severe allergic reaction) from the Pfizer-BioNTech vaccine was estimated to
                    be 11 cases per 1 million doses given. Similarly, data from the Moderna Vaccine is a rate of 2.5 per every million doses given. Although extremely rare, vaccination providers should be prepared to address such emergencies.
  </p>
  <p>
    <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/safety/allergic-reaction.html" title="The CDC recommends">
      The CDC recommends
    </a>
    that if you have ever had a severe allergic reaction to any ingredient in a COVID-19 vaccine,
                    you should not get that specific vaccine.
    <a href="https://www.health.pa.gov/topics/Documents/HAN/2021-PAHAN-545-01-06 -COVID Vaccinat.pdf" title="The Pennsylvania Department of Health (DOH) states">
      The Pennsylvania Department of Health (DOH) states
    </a>
    that previously having an immediate allergic reaction to either the Pfizer or Moderna COVID vaccine is the only reason to absolutely not receive either vaccine. If you have had a severe allergic reaction to other vaccines or injectable
                    therapies, you should ask your doctor if you should get a COVID-19 vaccine. Your doctor will help you decide if it is safe for you to get vaccinated.
  </p>
  <p>
    People with a history of severe allergic reactions not related to vaccines or injectable medications—such as allergies to food, pet, venom, environmental, or latex—may still get vaccinated, according to the CDC. People with a history of
                    allergies to oral medications or a family history of severe allergic reactions, or who might have a milder allergy to vaccines (no anaphylaxis)—may also still get vaccinated.
  </p>
  <p>
    If you have a severe allergic reaction after getting the first shot, you should not get the second shot. Your doctor may refer you to a specialist in allergies and immunology to provide more care or advice.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I currently have COVID. Can I get the vaccination?
  </h3>
  <p>
    Those currently sick should not get vaccine until they are at least past their isolation period because we want to protect those giving the vaccine and others at the vaccination center. Because there is usually at least three months of
                    protection after infection, you can wait to get the vaccine, but you don’t need to wait the three months.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I have symptoms or am sick, can I get the vaccination?
  </h3>
  <p>
    If you are currently sick, please get tested for COVID-19 and stay at home until you get your results.
  </p>
  <p>
    For most vaccines, we ask those with fever or significant illness wait to get the vaccine until you are feeling better and fever has been gone for at least 24 hours. Waiting allows health care providers to determine if side effects you
                    experience are from the vaccine or from the illness.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Do I need to take a day off after the vaccine?
  </h3>
  <p>
    No, you can continue to work and go about your daily activities after you receive the vaccine. Some people may experience symptoms after receiving the vaccine and may need to take a day off to recover from those symptoms.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Can my children get the vaccine?
  </h3>
  <p>
    Currently the Pfizer vaccine is approved for those 16 years and older. The Moderna vaccine is approved for those 18 years and older. The Janssen / Johnson and Johnson vaccine is approved for those 18 years and older. There are currently
                    studies taking place to evaluate these vaccines in children.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    What happens if I miss my second shot of the vaccine?
  </h3>
  <p>
    If you miss your second vaccine, you should reschedule as soon as you can. You do not have to repeat the first dose.
  </p>
  <p>
    Both COVID-19 mRNA vaccines need 2 shots to get the most protection. The timing between your first and second shot depends on which vaccine you received. You should get your second shot:
  </p>
  <ul>
    <li>
      for the Pfizer-BioNTech 3 weeks (or 21 days) after your first shot,
    </li>
    <li>
      for the Moderna 1 month (or 28 days) after your first shot.
    </li>
  </ul>
  <p>
    <br>
    You should
    <strong>
      get your second shot as close to the recommended 3-week or 4-week interval as possible
    </strong>
    .
    <a href="https://www.cdc.gov/vaccines/covid-19/info-by-product/clinical-considerations.html" title="The CDC strongly recommends">
      The CDC strongly recommends
    </a>
    that second doses of either vaccine be given within 42 days of the first dose. However, there is no maximum interval between the first and second doses for either vaccine. You should not get the second dose earlier than the recommended
                    interval.
  </p>
  <p>
    The Janssen / Johnson &amp; Johnson vaccine requires only a single dose. Efficacy and effectiveness of this vaccine was measured in its clinical trials from 28 days after the dose.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Do COVID-19 vaccines include a microchip for tracking?
  </h3>
  <p>
    No. While there is a video circulating on social media that makes that claim, there is no microchip included in the vaccine and nothing at all that would track your location.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I have heard that the COVID-19 vaccination causes infertility and I’m concerned about any such effect. Is that true?
  </h3>
  <p>
    There is no evidence that the vaccination causes infertility. The protein being cited on social media posts about this issue is not contained in the vaccine. The Pfizer-BioNTech Emergency Use Authorization (EUA) by the Food &amp; Drug Administration
                    specifically states that pregnant or breastfeeding women may opt for immunization if they choose. The EUA for Moderna indicates that available data is insufficient to inform vaccine-associated risks. Both vaccines are not “live virus”
                    vaccines but are instead mRNA vaccines. There is no evidence that the Janssen / Johnson &amp; Johnson vaccine is linked to, or causes, infertility.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    This new process used to create the COVID-19 vaccinations is mRNA-based. Will it modify my DNA?
  </h3>
  <p>
    No. An mRNA vaccine – also called a Messenger RNA vaccine – does not contain a live virus. Instead, it’s a process that mirrors one by cells to make proteins. Those proteins trigger an immune response and build immunity to the virus. Injecting
                    RNA into a person, in the form of the vaccine, doesn’t do anything to the DNA of a human cell. The vaccine does not even enter the nucleus of the cell where DNA is located.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I am morally/religiously opposed to receiving a vaccination that was created using aborted fetal tissue. Were these vaccines created in that way?
  </h3>
  <p>
    The Pfizer and Moderna vaccines were not made using any aborted fetal tissue. The development of the Janssen / Johnson &amp; Johnson vaccine did involve the use of the PER C6 vaccine development system, which does involve the use of an immortalized
                    cell line that was originally derived from a human embryo.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    Employees at my company are considered essential workers and could be given priority to receive the COVID-19 vaccine when it becomes available. What should my company be doing now to prepare?
  </h3>
  <p>
    Preparing your company and employers for the COVID-19 vaccine is an important task. The Health Department is currently vaccinating healthcare workers who meet the criteria for Phase 1A.
  </p>
  <p>
    There is no timeline yet for expanding vaccination to other phases or people, but it is important to be ready. Put together a list of the number of personnel who work for your company, and survey them to determine how many plan to take
                    the vaccine. You may also wish to learn more why about some may be hesitant to receive the shot and address those concerns.
  </p>
  <p>
    Additional information on the vaccine is available on the ACHD website.
  </p>
  <p>
    Once the Health Department is ready to share information about vaccinations in Phase 1B and beyond, it will communicate that information on this website, on social media and through
    <a href="/alerts">
      Allegheny Alerts
    </a>
    .
  </p>
  <p>
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    How can homebound residents receive a vaccine?
  </h3>
  <p>
    Homebound residents can attempt to receive a vaccine through their healthcare provider. ACHD is working on a plan to take vaccines to homebound residents. Details of that plan will be announced as they are finalized.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    What happens if I can only get my second dose more than 42 days after my first dose?
  </h3>
  <p>
    Public health guidance from the CDC and Pennsylvania Department of Health recommends that second doses of Pfizer or Moderna COVID vaccines should be administered within 6 weeks (42 days) of the first dose whenever possible. This is because
                    the clinical trials for those vaccines were designed to test two doses within several weeks of each other.
  </p>
  <h3>
    <i class="fa fa-plus" aria-hidden="true">
    </i>
    I have heard that I should not get the vaccine if I have had dermal fillers. What does that mean and is that true?
  </h3>
  <p>
    Dermal fillers, also known as injectable implants, soft tissue fillers, or wrinkle fillers are medical device implants approved by the FDA for use in helping to create a smoother and/or fuller appearance in the face, including nasolabial
                    folds (the lines extending from the sides of the nose to the edges of the mouth), cheeks, chin, lips, and back of the hands.
  </p>
  <p>
    Three patients in the clinical trial of the Moderna vaccine experienced swelling and inflammation around the sites of their dermal fillers. These reactions were non-life threatening. These inflammatory responses are rare but are known
                    to be triggered by infections or some vaccinations. Patients who have dermal fillers are encouraged to still receive the COVID vaccine.
  </p>
  <p>
    <br>
  </p>
</div>
