<div class="content">
  <section>
    <h1>
      COVID-19 Vaccine Information
    </h1>
    <div class="copy">
      <h2>
        COVID-19 Vaccine Update
      </h2>
      <h4>
        April 2, 2021
      </h4>
      <p>
        <strong>
          In support of the State&#39;s accelerated vaccine rollout Heritage Valley is encouraging individuals who live in the Health System’s service area or have a Heritage Valley physician to register.
        </strong>
      </p>
      <p>
        The registration link is included below to be placed on our “
        <strong>
          waiting list”
        </strong>
        .
        <strong>
          PLEASE NOTE: THIS IS REGISTRATION ONLY.
        </strong>
      </p>
      <p>
        As vaccines become available, those registered will receive a link to electronically schedule the date and time of
        <span style="text-decoration: underline;">
          <strong>
            both
          </strong>
        </span>
        their first and second dose of the vaccine. Simply click on the link in the email and follow the scheduling instructions. Given the overwhelming interest shown by our community members, we ask for your patience during the scheduling process.
      </p>
      <p>
        For those with scheduled appointments, Heritage Valley Health System will offer COVID-19 vaccine administration at the Community College of Beaver County (CCBC) Dome, 1 Campus Drive, Monaca, PA 15061, and a former Heritage Valley location in Robinson Township, on the side of the Staples Building, 6521 Steubenville Pike, Robinson Township, PA 15205.
      </p>
      <p>
        <strong>
          Upcoming dates for 1st dose vaccine clinics for active scheduling are as follows:
        </strong>
      </p>
      <ul>
        <li>
          <strong>
            CCBC Dome:
          </strong>
          April 5, 7, 10, and 20
        </li>
        <li>
          <strong>
            Staples Office Building in Robinson Township:
          </strong>
          April 5, 7, 9, 13, and 15
        </li>
      </ul>
      <p>
        <strong>
          Please note: Second dose appointments are 21 days after the first dose appointments and remain scheduled as planned.
        </strong>
      </p>
      <p>
        <strong>
          If you do not have access to a computer, please call 724.770.7555 to register.
        </strong>
      </p>
      <p>
        If you need to
        <span style="text-decoration: underline;">
          <strong>
            CANCEL
          </strong>
        </span>
        a scheduled vaccine appointment, please call
        <strong>
          724.770.7555
        </strong>
        and press
        <strong>
          Option 1.
        </strong>
      </p>
      <p>
        The best source of information is Heritage Valley&#39;s bi-weekly newsletter, E-Connections. To sign up for E-Connections and email updates,
        <a href="#email">
          <strong>
            click here
          </strong>
        </a>
        .
      </p>
      <h2>
        If you would like to
        <span style="text-decoration: underline;">
          <strong>
            REGISTER
          </strong>
        </span>
        for a COVID-19 Vaccine,
        <a href="https://cms.hvhs.org/carelink/" target="_blank" rel="noopener">
          <strong>
            click here
          </strong>
        </a>
        <strong>
          .
        </strong>
      </h2>
      <p>
        <em>
          *Unemancipated minors who are 16 or 17 years old
        </em>
        <em>
          may only receive the COVID vaccine with the consent of a parent or guardian. However, parental consent may be waived if the minor can provide proof 1) of high school graduation, OR 2) of a prior or current marriage, OR 3) that the minor has been or is pregnant.
        </em>
      </p>
    </div>
    <div class="copy">
      <hr>
      <h4>
        <strong>
          Vaccine Cards Available
        </strong>
      </h4>
      <div>
        Upon completion of the second dose of the COVID-19 vaccine, each person will receive a card as proof of vaccination. The cards are available to be printed online at
        <a href="https://cms.hvhs.org/carelink/" target="_blank" rel="noopener noreferrer">
          https://cms.hvhs.org/carelink/
        </a>
        . Those who are not able to print out a card at home will receive a printed copy at the clinic before leaving their second dose appointment.
      </div>
    </div>
    <a name="email">
    </a>
    <!-- Begin Constant Contact Active Forms -->
    <script>
      var _ctct_m = "a2d0983def3ccf00d362da8a869e4e2f";
    </script>
    <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async="" defer="">
    </script>
    <!-- End Constant Contact Active Forms -->
    <!-- Begin Constant Contact Inline Form Code -->
    <div class="ctct-inline-form" data-form-id="5c40e0d3-e6e5-47e6-8332-cb92a92517c9">
    </div>
    <!-- End Constant Contact Inline Form Code -->
    <hr>
  </section>
</div>
